<div id="<%= dom_id order %>">

  <div>
    <strong>Status:</strong>
    <%= order.status %>
  </div>

  <div>
    <strong>User:</strong>
    <%= order.user_id %>
  </div>

  <h1>Objednávka č. <%= order.id %></h1>

  <table>
    <thead>
      <tr>
        <th>Produkt</th>
        <th>Množství</th>
        <th>Cena</th>
        <th>Celkem</th>
      </tr>
    </thead>

    <tbody>
      <% order.line_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td><%= item.price %></td>
          <td><%= item.total_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <p><strong>Celková cena:</strong> <%= order.total_price %></p>

  <%= link_to 'Zpět na produkty', root_path %>
</div>
