<div id="<%= dom_id line_item %>">
  <div>
    <strong>Product:</strong>
    <%= line_item.product_id %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= line_item.quantity %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= line_item.price %>
  </div>

  <div>
    <strong>Buyable:</strong>
    <%= line_item.buyable_id %>
  </div>

</div>
